[package]
name = "benchmark"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
futures-util = "0.3.31"
sqlx = {version = "0.8.6", default-features = false, features = ["mysql", "runtime-tokio"]}
qusql-mysql = {path = "../qusql-mysql"}
tokio = {version = "1", features=["full"]}
